form {
	background-color: gray;
	width: 300px;
	margin: 30px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid darkgray;
    box-shadow: 1px 1px 6px white;
    margin: 0 auto;
	div {
		position: relative;
		display: flex;
		flex-direction: column;
		input {
			outline: none;
			border: 1px solid black;
			padding: 3px;
		    border-radius: 8px;
			&.has-error {
				border: 1px solid red;
			}
		}
		label {
			margin-bottom: 3px;
		}
		button{
		    text-transform: uppercase;
		    width: 85px;
		    font-size: 15px;
		    font-weight: 800;
		    color: white;
		    text-shadow: 1px 1px 2px black;
		    background-color: #bcb5ad;
		    border: 1px solid green;
		    padding: 6px;
		    border-radius: 5px;
		    box-shadow: 2px 2px 5px darkgrey;
	        margin: 0 auto;
	        cursor: pointer;
	        &:hover {
	        	background-color: green;
			    border: 1px solid #bcb5ad;
	        }
		}
	}
	h3{
	    margin: 5px;
	    text-align: center;
	    text-shadow: 1px 1px 2px black;
	    color: white;
	}

	#react-autowhatever-1 {
		position: absolute;
	    z-index: 3;
	    left: -38px;
	    width: 113%;
	    margin: 0;
	    padding: 0;
	    top: 8px;
		ul {
			list-style: none;
			max-height: 200px;
			height: 100%;
			overflow-y: scroll;
			li {
				background-color: white;
				border-bottom: 1px solid black;
				padding: 3px;
				&:hover {
					background-color: #dfd9d9;
				}
				&.react-autosuggest__suggestion--highlighted {
					background-color: #dfd9d9;
				}
			}
		}

	}
}